@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");

.title {
  font-family: "Major Mono Display", monospace;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 10px;
}

h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
}

p {
  font-family: "Roboto Mono", monospace;
}

.page-title {
  padding: 5px;
  font-family: "Roboto Mono", monospace;
}

.nav-link {
  color: white !important;
  font-family: "Major Mono Display", monospace;
}

.nav-link:hover {
  color: #81e6d9 !important;
}

.active {
  background-color: #81e6d9;
}

.sub-title {
  /* font-family: "Lexend Deca", sans-serif; */
  font-family: "Major Mono Display", monospace;
  font-size: 2rem;
  color: "#e6f1ff" !important;
  font-weight: bold;
  line-height: 1.1;

  margin-right: 15px;
  padding: 0;
  text-align: right;
}

.project-card {
  background-color: #073642;
  color: white;
  opacity: 0.9;
  border: 1rem solid #81e6d9;
}

.technologies-card {
  background-color: darkslategray;
  color: white;
  text-align: center;
  width: 80%;
}

.project-btn {
  padding: 10px;
  background-color: #073642;
  border: 2px solid #81e6d9;
  font-family: "Roboto Mono", monospace;
  color: #81e6d9 !important;
  text-shadow: 1px 1px #38b2ac;
  cursor: pointer;
  transition: all 0.2s;
}

.project-btn:hover {
  border: none;
  background-color: #38b2ac;
  font-family: "Roboto Mono", monospace;
  color: white !important;
  box-shadow: 0 0 5px #333;
}

.hello-btn {
  padding: 10px;
  background-color: #81e6d9;
  border: none;
  font-family: "Roboto Mono", monospace;
  color: #0a192f !important;
  text-shadow: 1px 1px #38b2ac;
  transition: all 0.2s;
}

.hello-btn:hover {
  background-color: #38b2ac;
  font-family: "Roboto Mono", monospace;
  color: white !important;
  box-shadow: 0 0 5px #333;
}

.hello-btn:focus {
  background-color: #38b2ac;
  color: white !important;
  outline: none !important;
  border: none !important;
}

.tooltip-inner {
  background-color: #81e6d9 !important;
  font-family: "Roboto Mono", monospace;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  text-shadow: 1px 1px #38b2ac;
}

#text-div {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 10px;
}

.center-all {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: aliceblue;
}

.tech {
  font-size: 0.7em;
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}

.about {
  background-color: paleturquoise;
}

/* sections */

.hero-section {
  height: 100vh;
}

.about-section {
  min-height: 100vh;
  background-color: white;
}

.projects-section {
  min-height: 100vh;
  background-color: #0a192f;
}

.something-section {
  min-height: 100vh;
  background-color: white;
}

.contact-section {
  min-height: 100vh;
}

.form-control {
  max-width: 100% !important;
}

.contact-form {
  max-width: 100% !important;
}

.contact {
  border: none;
  font-family: "Roboto Mono", monospace;
  padding: 10px;
  padding-left: 15px;
  border-radius: 20px;
}

.alert-text {
  font-family: "Roboto Mono", monospace;
}

.alert {
  color: white;
  background-color: #4a5568;
  opacity: 0.8;
}

.message {
  border: none;
  font-family: "Roboto Mono", monospace;
  padding: 15px;
  border-radius: 30px;
}
